* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #222;
    color: white;
    font-size: 16pt;
    font-family: monospace;
    height: 100%;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
}

details[open] {
    height: 100%;
    width: 100%;
}